extends layout

block content
  #container
    h1= title
    #cr-stage
        script.
            Game.init();
            var socket = io();
    p Deja apretado tanto el botón de disparo como de escudo para aumentar su poder.
    a( href='https://github.com/nan-apps/NodeOpenFights'
       target='_blank') https://github.com/nan-apps/NodeOpenFights 
       