doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='/stylesheets/css.css')
    
    script(src='/javascripts/crafty.js')
    script(src='/javascripts/jquery-1.9.1.min.js')
    script(src='/javascripts/components.js')
    script(src='/javascripts/game.js')
    
  body
    block content